body{
    overflow-x: hidden; 
    
}
.navbar{
    
    overflow-x: hidden;
}

#link{
    color: black;
    font-weight: 600;
}

#link:hover{
    color: #f98e4b;
}


.highlight-text{
    color: #f98e4b;
}
.header-text{
    font-weight: 700;
}
.header2-text{
    font-weight: 400;
    font-size: 170%;
}
.btn-explore{
    color: white;
    background-color: #f98e4b;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-img{
    width: 93%;
}

.whatsapp-btn{
    font-size: 100%;
    color: white;
    background-color: #25D366;
}

.whatsapp-btn:hover{
    color: white;
}

.Events{
    background-color:#fbf6f3;
}



.fb:hover{
    color: #3B5998
  }
  
  .WA:hover{
      color: #25D366;
  }

  .GM:hover{
      color: #d34836;
  }
  .Ins:hover{
      color: #8a3ab9;
  }
  .LI:hover{
      color: #3B5998;
  }
   
  .DC:hover{
      color:#5865F2;
  }

.YU:hover{
    color: #d34836;
}