body{
    overflow-x: hidden; 
    
}
.navbar{
    
    overflow-x: hidden;
}

#link{
    color: black;
    font-weight: 600;
}

#link:hover{
    color: #f98e4b;
}

.highlight-text{
    color: #f98e4b;
}
.header-text{
    font-weight: 700;
}
.header2-text{
    font-weight: 400;
    font-size: 170%;
}
.btn-explore{
    color: white;
    background-color: #f98e4b;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-img{
    width: 93%;
}

.About-us{
    background-color:#fbf6f3 ;
}


.aboutheader2-text{
    font-weight: 300;
    font-size: 140%;
}

.club-header3-text{
    font-weight: 300;
    font-size: 120%;
}






  .swiper-slide{
      width: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  }

  .HarPaintingStudio{
      background-color: #fbf6f3;
  }

.testimonial{
    background-color: #fbf6f3;
}

.aboutheader2-text-harpaintingstudio{
    font-weight: 400;
    font-size: 110;
}

.card{
    border: none;
}



.whatsapp-btn{
    font-size: 150%;
    background-color: #25D366;
}

.discord-btn{
    font-size: 150%;
    background-color: #5865F2;
}

.whatsapp-btn:hover,.discord-btn:hover{
    color: white;
}



  .fb:hover{
    color: #3B5998
  }
  
  .WA:hover{
      color: #25D366;
  }

  .GM:hover{
      color: #d34836;
  }
  .Ins:hover{
      color: #8a3ab9;
  }
  .LI:hover{
      color: #3B5998;
  }
   
  .DC:hover{
      color:#5865F2;
  }

.YU:hover{
    color: #d34836;
}

@media (min-width: 320px) and (max-width: 700px){

    .about-headers{
        font-size: 196%;
    }
     
    .whatsapp-btn{
        font-size: 100%;
        font-weight: 500;
    }
    .discord-btn{
        font-size: 112%;
    }
}